<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=h1, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            font-family: Roboto, sans-serif
        }

        .exemplo {
            background-color: palevioletred;
        }
    </style>
</head>
<body>
    <h1>Propriedade display</h1>
    <p>A propriedade display vai determinar como esse elemento será exibido na página.</p>

    <ul>
        <li>border-with</li>
        <li>border-style</li>
        <li>border-color</li>
    </ul>

    <h2>Exemplos:</h2>
    <code>display: block;</code>
    <br><br>
    <div class="exemplo">Exemplo 01</div>
    <p class="exemplo"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, quidem iusto voluptates eaque temporibus similique velit veniam quibusdam quisquam earum fugit amet. Eaque, odit rem. Ratione fugiat doloribus at vero.</p>
    
    <span class="exemplo">Exemplo 03</span>
</body>
</html>