body {
    background-color: #f9f9f9;
    margin: 0 auto;
    max-width: 1440px;
}

main {
    display: flex;
}

.menu {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}   
.menu .left {
    display: flex;
    justify-content: space-between;
    width: 148px;
    height: 24px;
}

.menu .center {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40px;
    width: 400px;
}

.menu .center input {
    margin: 0;
    width: 348px;
    height: 36px;
}


.menu .right {
    display: flex;
    justify-content: space-between;
    width: 130px;
    height: 24px;
}


h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: semi-bold;
    line-height: 100%;
    font-weight: 600;
    margin: 0 0 0 8px;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: semi-bold;
    line-height: 100%;
    font-weight: 600;
    margin: 0 0 0 8px;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-style: regular;
    line-height: 100%;
    font-weight: 400;
    margin: 8px 0 0 8px;
}

.watching-video{
    width: 952px;
    margin: 0 16px;
}

.watching-video h2, .video-actions, h3, p{
    margin-top: 16px;
}


.video-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.side-bar .video {
    display: flex;
    margin-bottom: 16px;
}

.side-bar .video .infos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.side-bar .video-actions button {
    border-radius: 2px;
    width: 159px;
    height: 40px;
    font-size: 14px;
}