body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: lightblue;
    padding: 3.75rem;
    text-align: center;
}

header h2 {
    font-size: 1rem;
    font-weight: normal;
}

main {
    padding: 1.875rem;
    text-align: center;
    max-width: 1200px;
    margin: auto;
}

h3 {
    text-transform: uppercase;
}

.details {
    display: flex;
    gap: 1.25rem;
    margin-bottom: 2.5rem;
}

.card {
    background-color: lightblue;
    padding: 1rem;
    border-radius: 0.25rem;
}

.image-card {
    background-color: lightblue;
    border: 1px solid #e2e2e2;
    padding: 0.625rem;
    flex-basis: 13.5rem;
}

.image-card img {
    width: 100%;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2.5rem;
    gap: 1.25rem;
}

footer {
    background-color: lightblue;
    padding: 2rem;
    text-align: center;
}

@media screen and (max-width: 690px){
    .card {
        color: lightblue;
        background-color: black;
    }
    .details {
        flex-direction: column;
    }

    .image-card {
        flex-basis: 100px;
    }
}

@media screen and (orientation: landscape) {
    header {
        background-color: lightgreen;
    }
}

@media screen and (pointer: coarse) {
    header {
        color: cornflowerblue;
    }
}