@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    height: 200vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div {
    margin-bottom: 30px;
}

.exemplo {
    width: 300px;
    height: 300px;
    border: 15px dashed palegreen;
    color: white;
    padding: 30px;
    font-size: 40px;
    font-weight: 900;
    background-color: orange;
    background-image: url('../images/background-02.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#multiply {
    background-blend-mode: multiply;    
}

#screen {
    background-blend-mode: screen;
}

#overlay {
    background-blend-mode: overlay;
}